<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>furble companion</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleName</key>
  <string>furble companion</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>furble companion uses Bluetooth to securely monitor and control your furble remote.</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>furble companion can send your current location to furble for camera geotagging when you enable phone GPS.</string>
  <key>NSLocationUsageDescription</key>
  <string>furble companion can send your current location to furble for camera geotagging when you enable location sharing.</string>
  <key>FurbleKeychainAccessGroup</key>
  <string>$(AppIdentifierPrefix)com.furble.companion.shared</string>
</dict>
</plist>
